<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SOURCE-WILDCARD" value="*.*"/>
    <add key="SOURCE"
         value="C:\Users\02485124\OneDrive - KocSistem Bilgi ve Iletisim Hizmetleri A.S\Desktop\RoboCopy\A" />
    <add key="DESTINATION"
         value="C:\Users\02485124\OneDrive - KocSistem Bilgi ve Iletisim Hizmetleri A.S\Desktop\RoboCopy\B" />
    <add key="TIMEOUT" value="30000"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
